<h1>Links!</h1>
  <table>
  <% @links.each do |link| %>
    <tr><td><%= link.user %></td><td><a href="<%= link.url %>"><%= link.title %></a></td><td> <%= link.date_added %></td></tr>
  <% end %>
  </table>
